.btn{
    width: 100%;
    background: rgb(240, 240, 240);
    color: #8170c5;
    border-radius: 0px;
}

.child{
    border-radius: 0px;
    background: rgb(240, 240, 240);
    color: rgb(35, 35, 35)
}

.hidden{
    display: none;
}