.accordion {
  border-radius: 6px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8e0;
  background: white;
}

.accordion-item {
  width: 300px;
}

.accordion-trigger {
  background: #FFF;
  color: #6550B9;
  width: 100%;
  border: none;
  text-align: start;
  padding-inline: 20px;
  height: 45px;
  border-bottom: 1px solid #d8d8e0;
  cursor: pointer;
}

.accordion-trigger:hover {
  background: #faf9fb;
}

.accordion-content {
  background: #faf9fb;
  color: #65636d;
  padding-inline: 20px;
  text-align: start;
 
}

.open {
  padding-top: 15px;  
  padding-bottom: 15px;
}