#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 15px;
}

.app {
  width: 300px;
}

.accordion {

}

.accordion-item {

}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3 ease-out;
}
